#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dadada;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 20px;
}
#footer p {
    margin: 0;
}
#footer a {
    text-decoration: none;
    color: white;
}

#izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}
#about {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #525252;
}
#aboutText {
    text-align: match-parent;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #606060;
    width: 40%;

}

#derecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

#derecha h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    margin : 10px;

}
#derecha a {
    text-decoration: none;
    color: #606060;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 10px;
    padding: 0;
}


